<div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" 
    href="https://www.google.com/search?q=fotos+porto+alegre+bem+avaliados&sca_esv=4bb6b1564136f20c&udm=2&biw=927&bih=866&sxsrf=ADLYWIKsUMQeFVs3T2RgMr1KLAfcQz9trA%3A1719966991644&ei=D52EZuf6Jo_O1sQPvNKvgAM&oq=fotos&gs_lp=Egxnd3Mtd2l6LXNlcnAiBWZvdG9zKgIIADIEECMYJzIIEAAYgAQYsQMyCBAAGIAEGLEDMgUQABiABDIIEAAYgAQYsQMyBRAAGIAEMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDMgoQABiABBhDGIoFSK1ZUOwXWKohcAF4AJABAJgBggOgAdYIqgEHMC40LjAuMbgBAcgBAPgBAZgCBqAChAnCAgsQABiABBixAxiDAcICDRAAGIAEGLEDGEMYigWYAwCIBgGSBwcxLjQuMC4xoAfPIQ&sclient=gws-wiz-serp">Fotos Porto Alegre</a></p>
</div>